BOT_TOKEN=your-bot-token

REDIS_HOST=tire-bot-redis
REDIS_PORT=6379

PG_HOST=tire-bot-postgres
PG_PORT=5432
PG_NAME=tire_bot_db
PG_USER=user
PG_PASSWORD=password

PGADMIN_DEFAULT_EMAIL=admin@admin.ru
PGADMIN_DEFAULT_PASSWORD: Qwedcvbnm,ki8
